.viewStoryHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
}

.viewStoryHeader__right{
    display: flex;
    margin-left:80px;
    align-items:center;    
}


.viewStoryHeader__right > .MuiSvgIcon-root{
    color: #FFFFFF !important;
    font-size: 24px !important;
}
